{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}
            title is provided by inheriting templates
        {% endblock %}
    </title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--[if IE]>
    <script
            src="http://html5shiv.googlecode.com/svn/trunk/html5.js">
    </script><![endif]-->
    <link rel="stylesheet" type="text/css"
          href="{% static 'restaurantreview/normalize.css' %}?version=4">
    <link rel="stylesheet" type="text/css"
          href="{% static 'restaurantreview/skeleton.css' %}?version=4">
    <link rel="stylesheet" type="text/css"
          href="{% static 'restaurantreview/style.css' %}?version=4">
    {% block head %}{% endblock %}
</head>

<body>

<div><!-- start of container -->
    <div class="status row">
        <div class="offset-by-eight four columns">
            <ul class="inline">
                {% if user.is_authenticated %}
                    <li><a href="{% url 'logout_urlpattern' %}">
                        Log Out, {{ user.get_username }}</a></li>
                {% else %}
                    <li><a href="{% url 'login_urlpattern' %}">
                        Log In</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
    <header>
        <h1>Restaurant Review</h1>
    </header>
    <nav>
        <ul>
            {% if perms.restaurantreview.view_dine %}
                <li>
                    <a href="{% url 'restaurantreview_dine_list_urlpattern' %}">
                        Dining</a></li>
            {% endif %}
            {% if perms.restaurantreview.view_reviewer %}
                <li>
                    <a href="{% url 'restaurantreview_reviewer_list_urlpattern' %}">
                        Reviewers</a></li>
            {% endif %}
            {% if perms.restaurantreview.view_restaurant %}
                <li>
                    <a href="{% url 'restaurantreview_restaurant_list_urlpattern' %}">
                        Restaurants</a></li>
            {% endif %}
            {% if perms.restaurantreview.view_location %}
                <li>
                    <a href="{% url 'restaurantreview_location_list_urlpattern' %}">
                        Locations</a></li>
            {% endif %}
            {% if perms.restaurantreview.view_item %}
                <li>
                    <a href="{% url 'restaurantreview_item_list_urlpattern' %}">
                        Items</a></li>
            {% endif %}
            {% if perms.restaurantreview.view_rating %}
                <li>
                    <a href="{% url 'restaurantreview_rating_list_urlpattern' %}">
                        Rating</a></li>
            {% endif %}
            {% if perms.restaurantreview.view_recipe %}
                <li>
                    <a href="{% url 'restaurantreview_recipe_list_urlpattern' %}">
                        Recipes</a></li>
            {% endif %}

            <li>
                <a href="{% url 'about_urlpattern' %}">
                    About</a></li>
        </ul>
    </nav>
    <main>
        {% block content %}

        {% endblock %}
    </main>
</div><!-- end of container -->

</body>
</html>

