<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}

        {% endblock %}
    </title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--[if IE]>
    <script
            src="http://html5shiv.googlecode.com/svn/trunk/html5.js">
    </script><![endif]-->
</head>

<body>

<div><!-- start of container -->
    <header>
        <h1>Restaurant Review</h1>
    </header>
    <nav>
        <ul>
            <li>
                <a href="">
                    Reviews</a></li>
            <li>
                <a href="">
                    Restaurants</a></li>
            <li>
                <a href="">
                    Locations</a></li>
            <li>
                <a href="">
                    Items</a></li>
            <li>
                <a href="">
                    Ratings</a></li>
            <li>
                <a href="">
                    Recipes</a></li>
        </ul>
    </nav>
    <main>
        {% block content %}
            
        {% endblock %}
    </main>
</div><!-- end of container -->

</body>
</html>

