{% extends 'restaurantreview/base.html' %}

{% block title %}
    Delete Dine
{% endblock %}

{% block content %}
    <form
            action="{{ dine.get_delete_url }}"
            method="post">
        {% csrf_token %}
        <p>
            Are you sure that you want to delete
            dine {{ dine }}?
        </p>
        <a href="{{ dine.get_absolute_url }}"
           class="button button-primary">
            Cancel</a>
        <button type="submit" class="button button-primary">Delete Dine</button>
    </form>
{% endblock %}