{% extends 'restaurantreview/base.html' %}
{% block title %}
    Dining List
{% endblock %}

{% block content %}
    <h1>Dining</h1>
    {% block create_button %}
        {% if perms.restaurantreview.add_dine %}
            <a
                    href="{% url 'restaurantreview_dine_create_urlpattern' %}"
                    class="button button-primary">
                Create New Dining</a>
        {% endif %}
    {% endblock %}
    <ol>
        {% for dine in dine_list %}
            <li>
                <a href="{{ dine.get_absolute_url }}">
                    {{ dine }}</a>
            </li>
        {% empty %}
            <li><em> There are no previous dinings.</em></li>
        {% endfor %}
    </ol>
{% endblock %}