{% extends 'restaurantreview/base.html' %}
{% block title %}
    Location List
{% endblock %}

{% block content %}
    <h1>Locations</h1>
    {% block create_button %}
        {% if perms.restaurantreview.add_location %}
            <a
                    href="{% url 'restaurantreview_location_create_urlpattern' %}"
                    class="button button-primary">
                Create New Location</a>
        {% endif %}
    {% endblock %}
    <ol>
        {% for location in location_list %}
            <li>
                <a href="{{ location.get_absolute_url }}">
                    {{ location }}</a>
            </li>
        {% empty %}
            <li><em> This restaurant does not have any locations currently.</em></li>
        {% endfor %}
    </ol>
{% endblock %}