{% extends 'restaurantreview/base.html' %}
{% block title %}
    Rating List
{% endblock %}

{% block content %}
    <h1>Ratings</h1>
    {% block create_button %}
        {% if perms.restaurantreview.add_rating %}
            <a
                    href="{% url 'restaurantreview_rating_create_urlpattern' %}"
                    class="button button-primary">
                Create New Rating</a>
        {% endif %}
    {% endblock %}
    <ol>
        {% for rating in rating_list %}
            <li>
                <a href="{{ rating.get_absolute_url }}">
                    {{ rating }}</a>
            </li>
        {% empty %}
            <li><em> There are no ratings currently for this restaurant.</em></li>
        {% endfor %}
    </ol>
{% endblock %}