{% extends 'restaurantreview/base.html' %}

{% block title %}
    Rating - {{ rating }}
{% endblock %}

{% block content %}
    <h2>{{ rating }}</h2>
    <ul class="ezu-button-list">
        {% if perms.restaurantreview.change_rating %}
            <li>
                <a href="{{ rating.get_update_url }}"
                   class="button button-primary">
                    Edit Rating</a></li>
        {% endif %}
        {% if perms.restaurantreview.delete_rating %}
            <li>
                <a href="{{ rating.get_delete_url }}"
                   class="button button-primary">
                    Delete Rating</a></li>
        {% endif %}
    </ul>

    <section>
        <table>
            <tr>
                <th>Rating:</th>
                <td>{{ rating.stars_rating }}</td>
            </tr>
        </table>
        <table>
            <tr>
                <th>Comment:</th>
                <td>{{ rating.comment }}</td>
            </tr>
        </table>
    </section>
    <section>
        <h3>Reviewer</h3>
        <ul>
            <a href="{{ reviewer.get_absolute_url }}">{{ reviewer }}</a>
        </ul>
        <h3>Item</h3>
        <ul>
            <a href="{{ item.get_absolute_url }}">{{ item }}</a>
        </ul>
    </section>
{% endblock %}