{% extends 'restaurantreview/base.html' %}

{% block title %}
    Rating - {{ rating }}
{% endblock %}

{% block content %}
    <h2>{{ rating }}</h2>
    <ul class="ezu-button-list">
        <li>
            <a href="{{ rating.get_update_url }}"
               class="button button-primary">
                Edit Rating</a></li>
        <li>
            <a href="{{ rating.get_delete_url }}"
               class="button button-primary">
                Delete Rating</a></li>
    </ul>

    <section>
        <table>
            <tr>
                <th>Rating:</th>
                <td>{{ rating.stars_rating }}</td>
            </tr>
        </table>
        <table>
            <tr>
                <th>Comment:</th>
                <td>{{ rating.comment }}</td>
            </tr>
        </table>
    </section>
    <section>
        <h3>Reviewer</h3>
        <ul>
            {% for reviewer in reviewer_list %}
                <li>
                    <a href="{{ reviewer.get_absolute_url }}">{{ reviewer }}</a>
                </li>
            {% empty %}
                <li><em>There are currently no reviewers for this rating.</em></li>
            {% endfor %}
        </ul>
        <h3>Item</h3>
        <ul>
            {% for item in item_list %}
                <li>
                    <a href="{{ item.get_absolute_url }}">{{ item }}</a>
                </li>
            {% empty %}
                <li><em>There are currently no items for this rating.</em></li>
            {% endfor %}
        </ul>
    </section>
{% endblock %}