{% extends 'restaurantreview/base.html' %}
{% block title %}
    Recipe List
{% endblock %}

{% block content %}
    <h1>Recipes</h1>
    <a
            href="{% url 'restaurantreview_recipe_create_urlpattern' %}"
            class="button button-primary">
        Create New Recipe</a>
    <ol>
        {% for recipe in recipe_list %}
            <li>
            <li>
                <a href="{{ recipe.get_absolute_url }}">
                    {{ recipe }}</a>
            </li>
            </li>
        {% empty %}
            <li><em> There are no recipes.</em></li>
        {% endfor %}
    </ol>
{% endblock %}