{% extends 'restaurantreview/base.html' %}

{% block title %}
    Error Deleting Restaurant
{% endblock %}

{% block content %}
    <div>
        <h2>Error Deleting Restaurant</h2>
        <p>
            You may not delete restaurant {{ restaurant }}. This restaurant currently has the following locations:
        </p>

        <ul>
            {% for location in locations %}
                <li><a href="{{ location.get_absolute_url }}">{{ location }}</a></li>
            {% endfor %}
        </ul>

        <p>
            Return to <a href="{% url 'restaurantreview_restaurant_list_urlpattern' %}">Restaurant List</a>.
        </p>
    </div>
{% endblock %}
