{% extends 'restaurantreview/base.html' %}

{% block title %}
    Delete Reviewer
{% endblock %}

{% block content %}
    <form
            action="{{ reviewer.get_delete_url }}"
            method="post">
        {% csrf_token %}
        <p>
            Are you sure that you want to delete
            reviewer {{ reviewer }}?
        </p>
        <a href="{{ reviewer.get_absolute_url }}"
           class="button button-primary">
            Cancel</a>
        <button type="submit" class="button button-primary">Delete Reviewer</button>
    </form>
{% endblock %}