{% extends 'restaurantreview/base.html' %}
{% block title %}
    Reviewer List
{% endblock %}

{% block content %}
    <h1>Reviewer List</h1>
    {% block create_button %}
        {% if perms.restaurantreview.add_reviewer %}
            <a
                    href="{% url 'restaurantreview_reviewer_create_urlpattern' %}"
                    class="button button-primary">
                Create New Reviewer</a>
        {% endif %}
    {% endblock %}
    <ol>
        {% for reviewer in reviewer_list %}
            <li>
                <a href="{{ reviewer.get_absolute_url }}">
                    {{ reviewer }}</a>
            </li>
        {% empty %}
            <li><em> There are no reviewers.</em></li>
        {% endfor %}
    </ol>
{% endblock %}
